nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #04224299;
  min-height: 60px;
  color: #eee;
  position: fixed;
}
#logo,
#togg {
  color: #fff;
  background: var(--blue);
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
}

#logo abbr > * {
  font-size: 3.5rem;
  padding: 7.5px;
}
#togg > * {
  font-size: 1.7rem;
}
#links {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 5vw;
  flex: 1;
  justify-content: flex-end;
}
a {
  color: #fff;
  text-decoration: none;
}
